# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Env files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Python virtual environments
venv/
env/
ENV/
.venv/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Git
*.orig
